.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* margin-inline: 7%;   */
  background-color: blueviolet;
}

.linkContainer {
  width: 60%;
  min-width: 350px;
  display: flex;
  justify-content: space-between;
}

.linkContainer.column {
  background-color: crimson;
}
.linkContainer a {
  /* text-decoration: none; */
  color: white;
  background-color: darkgoldenrod;
}

.logo_image {
  margin-right: 30px;
  border: 1px solid white;
  border-radius: 90px;
}

@media (prefers-reduced-motion: no-preference) {
  .logo_image {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
