.headerContainer {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;
  margin-inline: 7%;
}

.linkContainer {
  width: 60%;
  min-width: 350px;
  display: flex;
  justify-content: space-between;
}
.linkContainer a {
  text-decoration: none;
<<<<<<< HEAD
  color: white;
=======
>>>>>>> 8184563e939b77234c5240dff0396418c5b1f9e8
}

.logo_image {
  margin-right: 30px;
  border: 1px solid white;
  border-radius: 90px;
}
