.title {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;
  margin-inline: 10%;
}

.titleContainer {
  justify-content: space-between;
  flex-basis: 100px;
  min-width: 500px;
  overflow-wrap: break-word;
}

.textBig {
  color: white;
  font-size: 40px;
  font-weight: bold;
  line-height: 1em;
  width: 40vw;
}

.textSmall {
  color: white;
  font-size: 17px;
}

@media screen and (max-width: 600px) {
  .imageTitleContainer {
    display: none;
  }
}
