.title {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;
  margin-inline: 10%;
}

.textBig {
  color: white;
  font-size: 40px;
  font-weight: bold;
  line-height: 2em;
  width: 400px;
}

.textSmall {
  color: white;
  font-size: 17px;
}

@media screen and (max-width: 800px) {
  .imageTitleContainer {
    display: none;
  }

  .textBig {
    width: 90%;
  }
}
