.pie {
  height: 400px;
  /* margin-left: 20%; */
  display: flex;
  flex-direction: row;
}

.pie2 {
  height: 400px;
  /* margin-right: 50em;
  width: 100%;
  display: flex;
  flex-direction: row; */
}

.walletcontainer {
  background: #2b076e;
}

.walletBig {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-top: 0;
}

.wallet1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.wallet2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.wallet3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.walletTitle {
  text-align: justify;
  font-size: 32px;
  line-height: 48px;
  font-weight: bold;
}
.walletText {
  text-align: justify;
  font-size: 16px;
  line-height: 28px;
}

.statsetText {
  text-align: justify;
  font-size: 16px;
  line-height: 28px;
}
.statsTitle {
  text-align: justify;
  font-size: 32px;
  line-height: 48px;
  font-weight: bold;
}

.chartJS {
  width: 3vw;
  height: auto;
  padding-left: 25%;
  padding-right: 25%;
}
.ibepback {
  background-color: #35068c;
  border-radius: 16px;
  height: 300px;
  width: 500px;
}
.ibepcoin {
  font-size: 24px;
  font: bold;
  color: white;
  display: inline-flex;
  justify-content: center;
  justify-items: center;
  padding-left: 6vw;
  /* padding-right: 25vw; */
  padding-top: 5%;
}
.sousibep {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.logo_image2 {
  border: 1px solid white;
  border-radius: 90px;
  margin-top: -1%;
  margin-right: 1em;
  margin-left: 2em;
}

.ibepcomp1 {
  background-color: #491f98;
  padding-bottom: 125px;
  border-radius: 16%;
  width: 150px;
  text-align: center;
}
.ibeptitre1 {
  font-size: 20px;
  font: bold;
  color: white;
}
.ibepcomp2 {
  background-color: #491f98;
  padding-bottom: 125px;
  border-radius: 16%;
  width: 150px;
  text-align: center;
}
.ibeptitre2 {
  font-size: 20px;
  font: bold;
  color: white;
}
.ibepcomp3 {
  background-color: #491f98;
  padding-bottom: 125px;
  border-radius: 16%;
  width: 150px;
  text-align: center;
}
.ibeptitre3 {
  font-size: 20px;
  font: bold;
  color: white;
}

.responsiveContainerTestUn {
  width: 40vw;
  height: 20vw;
}
.responsiveContainerTest {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 728px) {
  .wallet1 {
    /* flex-direction: column; */
    background-color: red;
  }
  .wallet2 {
    flex-direction: column;
  }
  .wallet3 {
    flex-direction: column;
    background-color: bisque;
  }
  .pie {
    height: 500px;
    margin-left: 20%;
    display: flex;
    flex-direction: row;
  }

  .sousibep {
    flex-direction: column;
  }
}
