.pie {
  height: 400px;
  margin-left: 20%;
  display: flex;
  flex-direction: row;
}

.pie2 {
  height: 400px;
  /* margin-right: 50em;
  width: 100%;
  display: flex;
  flex-direction: row; */
}

.walletcontainer {
  background: #2b076e;
}

.walletBig {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-top: 0;
}

.wallet1 {
  display: flex;
  flex-direction: row;
}
.wallet2 {
  display: flex;
  flex-direction: row;
}
.wallet3 {
  display: flex;
  flex-direction: row;
}

.walletTitle {
  text-align: justify;
  font-size: 32px;
  line-height: 48px;
  font-weight: bold;
  padding-left: 200px;
}
.walletText {
  text-align: justify;
  font-size: 16px;
  line-height: 28px;
  padding-left: 200px;
}

.statsetText {
  text-align: justify;
  font-size: 16px;
  line-height: 28px;
}
.statsTitle {
  text-align: justify;
  font-size: 32px;
  line-height: 48px;
  font-weight: bold;
}

.chartJS {
  width: 3vw;
  height: auto;
  padding-left: 25%;
  padding-right: 25%;
}
.ibepback {
  background-color: #35068c;
  /* margin-right: 1em; */
  margin-left: 40em;
  border-radius: 16px;
  /* margin-top: 0%;
  //margin-bottom: 0%; */
  display: flex;
  margin-right: 10vw;
  margin-top: -20px;
  height: 300px;
  width: 500px;
}
.ibepcoin {
  font-size: 24px;
  font: bold;
  color: white;
  display: inline-flex;
  justify-content: center;
  justify-items: center;
  padding-left: 25vw;
  padding-right: 25vw;
  padding-top: 5%;
}

.logo_image2 {
  border: 1px solid white;
  border-radius: 90px;
  margin-top: -1%;
  margin-right: 1em;
  margin-left: 2em;
}

@media screen and (max-width: 728px) {
  .wallet1 {
    flex-direction: column;
  }
  .wallet2 {
    flex-direction: column;
  }
  .wallet3 {
    flex-direction: column;
  }
  .pie {
    height: 400px;
    margin-left: 20%;
    display: flex;
    flex-direction: row;
  }
}
