.pie {
  height: 400px;
  margin-right: 20%;
}
.wallet {
  background: #2b076e;
  display: flex;
  align-items: center;
}

.walletTitle {
  text-align: justify;
  font-size: 32px;
  line-height: 48px;
  font-weight: bold;
  padding-left: 200px;
}
.walletText {
  text-align: justify;
  font-size: 16px;
  line-height: 28px;
  padding-left: 200px;
}
