.App {
  margin: 0;
  background-color: #0d0d2b;
  padding-top: 0px;
}

html {
  scroll-behavior: smooth;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
